body {
	background-color: #1d4350;
	color: rgba(255, 255, 255, 0.705);
}

.heading {
	text-align: center;
}

h1 {
	color:rgb(121, 175, 40);
	font-family: 'Courier New', Courier, monospace;
}

h2 {
	font-style: italic;
}

#photo {
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.intro {
	width: 75%;
	margin: 5px;
	border: 5px solid rgb(126, 94, 25);
	padding: 10px;
	float:left;
	background-color: rgb(9, 35, 65);
	box-sizing: border-box;
}

.column {
	width: 33%;
	margin: 5px;
	border: 5px solid blue;
	padding: 10px;
	float:left;
	background-color: rgb(12, 4, 17);
	box-sizing: border-box;
}

.column h2 {
	text-align: center;
}

.programming-language {
	color:rgb(6, 167, 6);
}



